<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <title>Cross Check</title>
</head>
<body>
  <header><h1 class="title">Cross Check</h1></header>
  <nav>
    <a href="#game-league-stats">Game & League Statistics</a>
    <a href="#team-stats">Team Statistics</a>
    <a href="#season-stats">Season Statistics</a>
  </nav>
  <div class="main-section">
    <%= yield %>
  </div>
</body>
</html>